@charset "UTF-8";
@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Regular.otf"), url("../fonts/GlacialIndifference-Bold.otf"), url("../fonts/GlacialIndifference-Italic.otf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Glacial Indifference", cursive;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 100%;
  /* Tamaño del scroll */
  /* Estilos barra (thumb) de scroll */
  /* Estilos track de scroll */
}

html::-webkit-scrollbar {
  width: 12px;
}

html::-webkit-scrollbar-thumb {
  background: #d9f3b679;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:active {
  background-color: #d9f3b6;
}

html::-webkit-scrollbar-thumb:hover {
  background: #d9f3b6;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

html::-webkit-scrollbar-track {
  background: #adadad;
}

html::-webkit-scrollbar-track:hover, html::-webkit-scrollbar-track:active {
  background: #949494;
}

.header {
  width: 100vw;
  height: 15vh;
  position: absolute;
}

.header .nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .link__img {
  width: 3em;
  height: 3em;
}

.header .nav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1.5em;
}

.header .nav .social .link__img {
  width: 1em;
  height: 1em;
}

.header .nav .menu .list {
  display: none;
}

.header .nav .menu .list--show {
  display: block;
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #f4698f;
  border-radius: 47px 0px 0px 47px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3em;
  padding-right: 2em;
  padding-top: 1em;
}

.header .nav .menu .list--show .bar {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: 3px;
  border: 0.5px solid #f4698f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

.header .nav .menu .list--show .logo__img {
  width: 2em;
  height: 2em;
}

.header .nav .menu .list--show .close {
  position: absolute;
  top: 1.2em;
  right: 2.5em;
}

.header .nav .menu .list--show .close__img {
  height: 1em;
  width: 1em;
}

.header .nav .menu .list--show .option__link,
.header .nav .menu .list--show .contacto-btn__link {
  font-family: "Glacial Indifference";
  font-size: 1.2em;
  text-decoration: none;
  color: #f4698f;
}

.nosotros {
  color: #fff;
  background-color: #f4698f;
  background-image: url("../images/bg-gradiente.png");
  background-size: 100% 100%;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding-top: 20vh;
}

.nosotros__img {
  width: 4em;
  height: 4em;
}

.nosotros__title {
  width: 50%;
  font-family: "Abril Fatface";
  font-weight: 600;
  font-size: 2em;
  text-align: center;
}

.nosotros__subtitle {
  font-weight: normal;
  font-size: 0.7em;
}

.nosotros__body {
  width: 85%;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: justify;
  padding: 1rem 0;
}

.nosotros__footer {
  font-size: 1em;
  font-weight: normal;
}

.nosotros__footer--top {
  text-align: center;
  width: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.nosotros__footer--top span {
  font-family: cursive;
}

.nosotros__footer--bottom {
  width: 90%;
  text-align: center;
}

.nosotros__bar {
  width: 140px;
  height: 3px;
  border: 0.5px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  margin: 1rem 0 3rem 0;
}

.servicios {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.servicios__title {
  padding-top: 2rem;
  font-size: 18px;
  line-height: 38px;
}

.servicios__subtitle {
  font-size: 14px;
  line-height: 38px;
  padding-bottom: 2rem;
}

.servicios .container .card {
  margin: 1rem 0;
  width: 180px;
  height: 160px;
  padding: 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .container .card__img {
  width: 16px;
  height: 13px;
}

.servicios .container .card__title {
  padding: 0.5rem 0;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 900;
  width: 100%;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  color: #f4698f;
}

.servicios .container .card__body {
  height: 83px;
  font-family: "Glacial Indifference";
  font-size: 8px;
  line-height: 200%;
  text-align: justify;
  color: #000;
}

.servicios__footer {
  padding-top: 2rem;
  font-size: 16px;
  line-height: 32px;
  width: 80%;
}

.servicios__bar {
  margin: 1rem 0;
  width: 182px;
  height: 4px;
  border: 0.5px solid #f4698f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

.servicios__btn {
  font-family: "Glacial Indifference";
  width: 128px;
  height: 32px;
  background: #f4698f;
  border-radius: 12px;
  font-size: 10px;
  line-height: 12px;
  border: none;
  color: #fff;
  margin: 2rem 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trabajos {
  width: 100vw;
  height: 90vh;
  background-color: #d9f3b6;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.trabajos .header-job__title {
  font-size: 20px;
  line-height: 38px;
  font-weight: normal;
}

.trabajos .header-job__subtitle {
  font-size: 14px;
  font-weight: normal;
  line-height: 38px;
}

.trabajos .container-job {
  position: relative;
}

.trabajos .container-job .carousel {
  width: 16em;
  height: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.trabajos .container-job .carousel__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: 1s background-image ease;
  transition: 1s background-image ease;
}

.trabajos .container-job .carousel .description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2em;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trabajos .container-job .carousel .description__title {
  text-align: start;
  margin-left: 1rem;
  width: 100%;
  font-size: 0.5rem;
}

.trabajos .container-job .carousel .description__btn {
  margin-right: 1rem;
  width: 6rem;
  height: 1rem;
  border: 1px solid #f4698f;
  border-radius: 0.5rem;
  background-color: #fff;
  font-family: "Glacial Indifference", cursive;
  font-size: 10px;
}

.trabajos .container-job .carousel .description__btn:active, .trabajos .container-job .carousel .description__btn:focus {
  color: #000;
}

.trabajos .container-job__btn {
  position: absolute;
  top: 40%;
}

.trabajos .container-job__btn--after {
  left: -40px;
}

.trabajos .container-job__btn--before {
  right: -40px;
}

.trabajos__bar {
  width: 12rem;
  height: 4px;
  border: 0.5px solid #f4698f;
  border-radius: 24px;
}

.contacto {
  padding-top: 40px;
  background: linear-gradient(270.64deg, #ff9e7f -13.83%, #f4698f 18.14%, rgba(208, 240, 164, 0.8) 159.82%);
  width: 100vw;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

.contacto .container-contacto {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}

.contacto .container-contacto__title {
  font-size: 10px;
  font-weight: normal;
}

.contacto .container-contacto__img {
  width: 40px;
  height: 40px;
}

.contacto .container-contacto__subtitle {
  font-size: 1rem;
  font-weight: normal;
}

.contacto .form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.contacto .form__title {
  visibility: hidden;
}

.contacto .form__label {
  font-size: 10px;
  font-weight: normal;
}

.contacto .form__input {
  min-height: 24px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #00000000;
  border-radius: 16px;
  padding-left: 0.5rem;
  font-family: "Glacial Indifference", cursive;
  font-weight: normal;
}

.contacto .form__input:focus {
  outline: none;
  border-radius: 1rem;
  border: 1px solid #d9f3b6;
  background-color: #f4698f;
}

.contacto .form__textarea {
  min-height: 100px;
  height: 20%;
  color: #fff;
  border: 1px solid #fff;
  background-color: #00000000;
  border-radius: 1em;
  padding: 0.5rem;
  text-shadow: none;
  font-family: "Glacial Indifference", cursive;
  font-weight: normal;
  resize: none;
}

.contacto .form__textarea:focus {
  outline: none;
  border-radius: 1em;
  border: 1px solid #d9f3b6;
  background-color: #f4698f;
}

.contacto .form__textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.849);
}

.contacto .form__textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.849);
}

.contacto .form__textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.849);
}

.contacto .form__textarea::placeholder {
  color: rgba(255, 255, 255, 0.849);
}

.contacto .form__btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 128px;
  height: 32px;
  margin-top: 2rem;
  color: #fff;
  background-color: #f4698f;
  padding: 8px;
  border: none;
  border-radius: 12px;
  font-size: 10px;
}

.contacto .social {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.contacto .social__title {
  font-weight: normal;
  font-size: 0.5em;
}

.contacto .social .container-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.contacto .social .container-social .link__img {
  width: 12px;
  height: 12px;
}

.contacto__bar {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
  height: 4px;
  border: 0.5px solid #fff;
  border-radius: 24px;
}

.contacto #myModal {
  display: block;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 20px;
  width: 100%;
  overflow: auto;
  color: #000;
}

.contacto #myModal .modal-content {
  border: 1px solid #d9f3b6;
  font-size: 15px;
  background-color: #fefefe;
  border-top: 3px solid #d9f3b6;
  width: 150px;
}

.contacto #myModal .modal-content p {
  margin: 0.2em;
}

.job-description .job {
  color: #fff;
  background-color: #f4698f;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
}

.job-description .job-container {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #fff;
  width: 90vw;
  height: 300px;
}

.job-description .job-container-diseno {
  width: 90%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-description .job-container-diseno .job-container__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  height: 50%;
}

.job-description .job-container__img {
  width: 100%;
  height: 100%;
}

.job-description .job__title {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  padding: 2rem 0;
}

.job-description .job__body {
  width: 60%;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: justify;
  padding: 2rem 0;
}

.job-description .job__btn {
  margin: 2rem 0;
  width: 128px;
  height: 37px;
  background: #f4698f;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  font-family: "Glacial Indifference";
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.job-description .picture {
  width: 100vw;
  height: 100%;
}

.job-description .picture .container-picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.job-description .picture .container-picture__img {
  width: 300px;
  height: 300px;
}

.job-description .picture .container-picture--one {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-description .picture .container-picture--two {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #d9f3b6;
}

.job-description .picture .container-picture--three {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-description .picture .container-picture--four {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/d&c2.png");
  background-size: cover;
}

.job-description .picture .container-picture--four .container-picture__img {
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #fff;
  margin-left: 2em;
  padding: 1em;
}

.job-description .picture .container-picture--five {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/d&c5.png");
  background-size: cover;
}

.job-description .picture .container-picture--five .container-picture__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.job-description .picture .container-picture--six {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9f3b6;
}

.job-description .picture .container-picture--six .container-picture__img {
  background-color: #fff;
  -o-object-fit: contain;
     object-fit: contain;
  width: 300px;
  height: 300px;
}

.job-description .picture .container-picture--seven {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d9f3b6;
}

.job-description .picture .container-picture--seven .container-picture__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 300px;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #f4698f;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  z-index: 2;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 0;
  -webkit-animation: spin 2s linear;
          animation: spin 2s linear;
}

.loading.show {
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    background-image: url("../icons/frame1.svg");
  }
  30% {
    background-image: url("../icons/frame2.svg");
  }
  50% {
    background-image: url("../icons/frame3.svg");
  }
  100% {
    background-image: url("../icons/frame4.svg");
  }
}

@keyframes spin {
  0% {
    background-image: url("../icons/frame1.svg");
  }
  30% {
    background-image: url("../icons/frame2.svg");
  }
  50% {
    background-image: url("../icons/frame3.svg");
  }
  100% {
    background-image: url("../icons/frame4.svg");
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 570px) and (max-width: 780px) {
  html {
    font-size: 1.2em;
  }
  .header .nav .logo .link__img {
    width: 3em;
    height: 3em;
  }
  .header .nav .social .link__img {
    width: 1em;
    height: 1em;
  }
  .header .nav .menu .list {
    width: 40%;
  }
  .header .nav .menu .list .bar {
    height: 8px;
  }
  .header .nav .menu .list .logo__img {
    width: 46px;
    height: 51px;
  }
  .header .nav .menu .list .close__img {
    height: 26px;
    width: 26px;
  }
  .header .nav .menu .list .option__link {
    font-size: 30px;
    line-height: 80%;
  }
  .nosotros {
    padding-top: 20vh;
    gap: 2rem;
  }
  .nosotros__img {
    width: 200px;
    height: 100px;
  }
  .nosotros__title {
    font-size: 38px;
    line-height: 146%;
  }
  .nosotros__subtitle {
    font-size: 19px;
    line-height: 40px;
  }
  .nosotros__body {
    font-size: 18px;
    line-height: 32px;
  }
  .nosotros__footer {
    width: 80%;
    font-size: 22px;
    line-height: 38px;
  }
  .nosotros__footer--top {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: end;
  }
  .nosotros__footer--bottom {
    font-weight: normal;
    text-align: center;
  }
  .nosotros__bar {
    width: 280px;
    height: 8px;
  }
  .servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    grid-column-gap: 2rem;
  }
  .servicios__title {
    font-size: 24px;
    line-height: 38px;
  }
  .servicios__subtitle {
    font-size: 16px;
    line-height: 38px;
  }
  .servicios .container {
    width: 100vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .servicios .container .card {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 100%;
    min-height: 300px;
    width: 35%;
  }
  .servicios .container .card__img {
    width: 33px;
    height: 27px;
  }
  .servicios .container .card__title {
    padding: 2rem 0;
    font-size: 14px;
    line-height: 24px;
  }
  .servicios .container .card__body {
    height: 100%;
    font-family: "Glacial Indifference";
    font-size: 12px;
    line-height: 24px;
  }
  .servicios__footer {
    font-size: 20px;
    width: 100%;
  }
  .servicios__bar {
    width: 265px;
    height: 8px;
  }
  .servicios__btn {
    width: 168px;
    font-size: 12px;
    line-height: 32px;
  }
  .trabajos .header-job__title {
    font-size: 24px;
  }
  .trabajos .header-job__subtitle {
    font-size: 16px;
  }
  .trabajos .container-job {
    position: relative;
  }
  .trabajos .container-job .carousel {
    width: 20rem;
    height: 18rem;
  }
  .trabajos .container-job .carousel .description {
    width: 20rem;
    height: 2.5rem;
  }
  .trabajos .container-job .carousel .description__title {
    font-size: 10px;
  }
  .trabajos .container-job .carousel .description__btn {
    width: 6.5rem;
    height: 1.5rem;
    font-size: 12px;
  }
  .trabajos .container-job .container-job__btn {
    width: 2rem;
    height: 4rem;
  }
  .trabajos .container-job .container-job__btn--after {
    left: -70px;
  }
  .trabajos .container-job .container-job__btn--before {
    right: -70px;
  }
  .trabajos__bar {
    width: 18rem;
  }
  .job-description .job-container {
    width: 50%;
    height: 100%;
  }
  .job-description .job-container__img {
    width: 100%;
    height: 100%;
  }
  .job-description .job-container-diseno {
    height: 50vh;
  }
  .job-description .job__title {
    font-size: 32px;
    line-height: 32px;
  }
  .job-description .job__body {
    font-size: 15px;
    line-height: 32px;
  }
  .job-description .job__btn {
    width: 170px;
    height: 37px;
    font-size: 12px;
    line-height: 32px;
  }
  .job-description .picture .container {
    width: 100vw;
    height: 100vh;
  }
  .job-description .picture .container__img {
    width: 500px;
    height: 500px;
  }
}

@media only screen and (min-width: 780px) {
  html {
    font-size: 200%;
  }
  .header .nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 0;
  }
  .header .nav .logo .link__img {
    width: 100%;
    height: 100%;
  }
  .header .nav .social {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 2em;
    top: 30vh;
  }
  .header .nav .social .link__img {
    width: 29px;
    height: 29px;
  }
  .header .nav .social .link__img--hidden {
    visibility: hidden;
  }
  .header .nav .menu .menu__icon {
    display: none;
  }
  .header .nav .menu .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
  }
  .header .nav .menu .list .close,
  .header .nav .menu .list .logo {
    display: none;
  }
  .header .nav .menu .list .option {
    width: 100%;
  }
  .header .nav .menu .list .option__link {
    font-size: 20px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
  }
  .header .nav .menu .list .option:hover {
    border-bottom: 2px solid #fff;
  }
  .header .nav .menu .list .contacto-btn {
    border: 1px solid #ffffff;
    border-radius: 16px;
    height: 45px;
    padding: 0 0.3em;
  }
  .header .nav .menu .list .contacto-btn:hover {
    background-color: #f4698f;
  }
  .header .nav .menu .list .contacto-btn__link {
    font-size: 0.7em;
    color: #fff;
    text-decoration: none;
  }
  .nosotros {
    height: 90vh;
    padding-top: 25vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 30% 40% 1fr;
        grid-template-columns: 10% 30% 40% 1fr;
    gap: 0;
    justify-items: center;
    text-align: center;
  }
  .nosotros__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    width: 20%;
    height: 80%;
  }
  .nosotros__title {
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 200%;
    line-height: 136%;
  }
  .nosotros__subtitle {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
    font-size: 50%;
    line-height: 38px;
  }
  .nosotros__body {
    width: 90%;
    padding: 0;
    font-size: 50%;
    line-height: 200%;
  }
  .nosotros__body--top {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
  .nosotros__body--bottom {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2 / 3 / 4 / 4;
  }
  .nosotros__footer {
    font-weight: normal;
    font-size: 60%;
  }
  .nosotros__footer--top {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 4 / 3 / 5 / 4;
    padding: 1em 0;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .nosotros__footer--bottom {
    font-size: 70%;
    font-weight: normal;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 5 / 2 / 6 / 4;
  }
  .nosotros__bar {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 6 / 2 / 7 / 4;
    width: 40%;
    height: 6px;
  }
  .servicios {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios__title {
    font-weight: normal;
    font-size: 40px;
    line-height: 38px;
  }
  .servicios__subtitle {
    font-weight: normal;
    font-size: 26px;
    line-height: 38px;
  }
  .servicios .container {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .servicios .container .card {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 25%;
    min-height: 400px;
    height: 100%;
  }
  .servicios .container .card__img {
    width: 1em;
    height: 35px;
  }
  .servicios .container .card__title {
    width: 100%;
    padding: 1rem 0;
    font-size: 0.5em;
    line-height: 55px;
  }
  .servicios .container .card__body {
    height: 100%;
    font-size: 0.5em;
    line-height: 40px;
  }
  .servicios__footer {
    font-size: 25px;
    line-height: 55px;
  }
  .servicios__bar {
    display: none;
  }
  .servicios a {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 7 / 1 / 8 / 4;
    width: 356px;
    height: 72px;
    font-size: 22px;
    line-height: 26px;
  }
  .trabajos {
    height: 100vh;
  }
  .trabajos .header-job__title {
    font-size: 40px;
    line-height: 38px;
  }
  .trabajos .header-job__subtitle {
    font-size: 24px;
    line-height: 38px;
  }
  .trabajos .container-job {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trabajos .container-job .carousel {
    z-index: 1;
    width: 30vw;
    height: 60vh;
  }
  .trabajos .container-job .carousel .description {
    width: 30vw;
    height: 50px;
  }
  .trabajos .container-job .carousel .description__title {
    font-size: 16px;
    line-height: 38px;
  }
  .trabajos .container-job .carousel .description__btn {
    border-radius: 10px;
    width: 150px;
    height: 70%;
    font-size: 20px;
  }
  .trabajos .container-job .carousel--after, .trabajos .container-job .carousel--before {
    position: absolute;
    width: 25vw;
    height: 55vh;
    z-index: 0;
  }
  .trabajos .container-job .carousel--after__img, .trabajos .container-job .carousel--before__img {
    width: 100%;
    height: 100%;
  }
  .trabajos .container-job .carousel--after .description-back, .trabajos .container-job .carousel--before .description-back {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .trabajos .container-job .carousel--after .description-back__title, .trabajos .container-job .carousel--before .description-back__title {
    margin-left: 1em;
    text-align: start;
    width: 100%;
    font-size: 12px;
  }
  .trabajos .container-job .carousel--after .description-back__btn, .trabajos .container-job .carousel--before .description-back__btn {
    border-radius: 10px;
    margin-right: 1em;
    width: 150px;
    height: 70%;
    font-size: 18px;
    line-height: 38px;
    border: 1px solid #f4698f;
    background-color: #fff;
    font-family: "Glacial Indifference", cursive;
  }
  .trabajos .container-job .carousel--after {
    left: 20vw;
  }
  .trabajos .container-job .carousel--after--image {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-transition: 1s background-image ease;
    transition: 1s background-image ease;
  }
  .trabajos .container-job .carousel--before {
    right: 20vw;
  }
  .trabajos .container-job .carousel--before--image {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-transition: 1s background-image ease;
    transition: 1s background-image ease;
  }
  .trabajos .container-job__btn {
    width: 1em;
    height: 100px;
    position: absolute;
    z-index: 1;
  }
  .trabajos .container-job__btn--after {
    left: -30vw;
  }
  .trabajos .container-job__btn--before {
    right: -30vw;
  }
  .trabajos__bar {
    width: 10em;
  }
  .contacto {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0;
  }
  .contacto .container-contacto {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1/1/2/2;
  }
  .contacto .container-contacto__title {
    font-size: 0.7em;
  }
  .contacto .container-contacto__img {
    width: 2em;
    height: 2em;
  }
  .contacto .container-contacto__subtitle {
    font-size: 0.7em;
  }
  .contacto .container-contacto__subtitle--bottom {
    font-size: 1em;
  }
  .contacto .form {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/4/3;
    background-color: #fff;
    width: 50vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5em;
    color: #000;
  }
  .contacto .form__title {
    font-size: 30px;
    line-height: 38px;
    visibility: visible;
    padding: 1em 0;
  }
  .contacto .form__label {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 20px;
    width: 70%;
  }
  .contacto .form__input {
    color: #000;
    width: 70%;
    font-size: 20px;
    line-height: 1rem;
    border: 1px solid #f4698f;
  }
  .contacto .form__input:focus {
    border: 2px solid #f4698f;
    background-color: #fff;
  }
  .contacto .form__textarea {
    color: #000;
    width: 70%;
    border: 1px solid #f4698f;
    font-size: 20px;
    line-height: 1rem;
  }
  .contacto .form__textarea:focus {
    border: 2px solid #f4698f;
    background-color: #fff;
  }
  .contacto .form__textarea::-webkit-input-placeholder {
    color: #545454;
  }
  .contacto .form__textarea:-ms-input-placeholder {
    color: #545454;
  }
  .contacto .form__textarea::-ms-input-placeholder {
    color: #545454;
  }
  .contacto .form__textarea::placeholder {
    color: #545454;
  }
  .contacto .form__btn {
    margin-bottom: 2em;
    width: 12em;
    height: 3em;
    border-radius: 24px;
    font-size: 16px;
  }
  .contacto .social {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3/1/4/2;
  }
  .contacto .social__title {
    font-size: 22px;
  }
  .contacto .social .container-social {
    gap: 32px;
  }
  .contacto .social .container-social .link__img {
    width: 29px;
    height: 29px;
  }
  .contacto__bar {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .job-description .job {
    background-color: #f4698f;
    padding-top: 15vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    place-items: center center;
  }
  .job-description .job .job-container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 4 / 2;
    -ms-grid-row-align: end;
        align-self: end;
    display: -ms-grid;
    display: grid;
    background-color: white;
    width: 100%;
    height: 100%;
  }
  .job-description .job .job-container-diseno {
    height: 85vh;
  }
  .job-description .job .job-container-diseno .job-container__img {
    width: 250px;
    height: 250px;
  }
  .job-description .job__title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
    background-color: #f4698f;
    background-image: none;
    width: 100%;
    font-size: 27px;
    line-height: 36px;
    padding: 0;
  }
  .job-description .job__body {
    padding: 0;
    width: 50%;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 20px;
    line-height: 32px;
  }
  .job-description .job__btn {
    margin: 0;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 3 / 2 / 4 / 3;
    width: 300px;
    height: 70px;
    font-size: 22px;
    line-height: 26px;
  }
  .job-description .picture .container-picture {
    width: 100vw;
    height: 100vh;
  }
  .job-description .picture .container-picture--one .container-picture__img {
    width: 60vw;
    height: 100%;
  }
  .job-description .picture .container-picture--two .container-picture__img {
    width: 40vw;
    height: 100%;
  }
  .job-description .picture .container-picture--three .container-picture__img {
    width: 60vw;
    height: 100%;
  }
  .job-description .picture .container-picture--four {
    background-size: 40vw 100vh;
    background-repeat: no-repeat;
  }
  .job-description .picture .container-picture--four .container-picture__img {
    -o-object-fit: contain;
       object-fit: contain;
    margin-right: 15vw;
    background-color: #fff;
    width: 30vw;
    height: 50%;
  }
  .job-description .picture .container-picture--five {
    background-size: 60vw 100vh;
    background-repeat: no-repeat;
    background-position: 40vw;
  }
  .job-description .picture .container-picture--five .container-picture__img {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: 45vw;
    width: 60vw;
    height: 100%;
  }
  .job-description .picture .container-picture--six {
    width: 100vw;
  }
  .job-description .picture .container-picture--six .container-picture__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 60vw;
    height: 100%;
  }
  .job-description .picture .container-picture--seven {
    width: 40vw;
  }
  .job-description .picture .container-picture--seven .container-picture__img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 40vw;
    height: 60%;
  }
}
/*# sourceMappingURL=style.css.map */