@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Regular.otf"), url("../fonts/GlacialIndifference-Bold.otf"), url("../fonts/GlacialIndifference-Italic.otf");
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Glacial Indifference", cursive;
}

p,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vh;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 1rem;
}

header nav .nav-logo img {
  width: 48px;
  height: 48px;
}

header nav .nav-social-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1rem;
}

header nav .nav-social-icon ul img {
  width: 11px;
  height: 11px;
}

header nav .nav-link {
  display: none;
}

header nav .show {
  display: block;
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  color: #f4698f;
  border-radius: 47px 0px 0px 47px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

header nav .show .br {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  height: 3px;
  border: 0.5px solid #f4698f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

header nav .show .menu-logo img {
  width: 21px;
  height: 23px;
}

header nav .show .nav-close {
  position: absolute;
  top: 1.2rem;
  right: 2.5rem;
}

header nav .show .nav-close img {
  height: 13px;
  width: 13px;
}

header nav .show a {
  font-family: "Glacial Indifference";
  font-size: 18px;
  text-decoration: none;
  color: #f4698f;
}

#nosotros {
  color: #fff;
  background-color: #f4698f;
  background-image: url("../images/bg-gradiente.png");
  background-size: 100%;
  height: 100%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15vh;
}

#nosotros img {
  width: 64px;
  height: 71px;
}

#nosotros h1 {
  width: 50%;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 146%;
  text-align: center;
}

#nosotros h2 {
  font-size: 9px;
  line-height: 40px;
  text-align: justify;
}

#nosotros p {
  width: 85%;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-align: justify;
  padding: 1rem 0;
}

#nosotros .h-1,
#nosotros .h-2 {
  width: 100%;
  font-size: 15px;
  line-height: 38px;
}

#nosotros .h-1 {
  text-align: center;
  width: 100px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#nosotros .h-2 {
  text-align: center;
}

#nosotros hr {
  width: 140px;
  height: 3px;
  border: 0.5px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
  margin: 1rem 0 3rem 0;
}

#servicios {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#servicios h2 {
  padding-top: 2rem;
  font-size: 18px;
  line-height: 38px;
}

#servicios h3 {
  font-size: 14px;
  line-height: 38px;
  padding-bottom: 2rem;
}

#servicios article {
  margin: 1rem 0;
  width: 180px;
  height: 160px;
  padding: 1rem;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#servicios article img {
  width: 16px;
  height: 13px;
}

#servicios article h5 {
  padding: 0.5rem 0;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 900;
  width: 100%;
  font-size: 10px;
  line-height: 24px;
  text-align: center;
  color: #f4698f;
}

#servicios article p {
  height: 83px;
  font-family: "Glacial Indifference";
  font-size: 8px;
  line-height: 200%;
  text-align: justify;
  color: #000;
}

#servicios h4 {
  padding-top: 2rem;
  font-size: 16px;
  line-height: 32px;
  width: 80%;
}

#servicios hr {
  margin: 1rem 0;
  width: 182px;
  height: 4px;
  border: 0.5px solid #f4698f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 24px;
}

#servicios a {
  font-family: "Glacial Indifference";
  width: 128px;
  height: 32px;
  background: #f4698f;
  border-radius: 12px;
  font-size: 10px;
  line-height: 12px;
  border: none;
  color: #fff;
  margin: 2rem 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trabajos {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #d9f3b6;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#trabajos h2 {
  font-size: 18px;
  line-height: 38px;
  font-weight: normal;
}

#trabajos h3 {
  font-size: 12px;
  font-weight: normal;
  line-height: 38px;
}

#trabajos .job-container {
  position: relative;
}

#trabajos .job-container .carousel {
  width: 14rem;
  height: 12rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  position: relative;
  border-radius: 1rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#trabajos .job-container .carousel .job-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-transition: 1s background-image ease;
  transition: 1s background-image ease;
}

#trabajos .job-container .carousel .job__description {
  position: absolute;
  bottom: 0;
  width: 14rem;
  height: 2rem;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trabajos .job-container .carousel .job__description span {
  text-align: start;
  margin-left: 1rem;
  width: 100%;
  font-size: 0.5rem;
}

#trabajos .job-container .carousel .job__description button {
  margin-right: 1rem;
  width: 6rem;
  height: 1rem;
  border: 1px solid #f4698f;
  border-radius: 0.5rem;
  background-color: #fff;
  font-family: "Glacial Indifference", cursive;
  font-size: 10px;
}

#trabajos .job-container .btn {
  position: absolute;
  top: 40%;
}

#trabajos .job-container .after {
  left: -40px;
}

#trabajos .job-container .before {
  right: -40px;
}

#trabajos hr {
  width: 12rem;
  height: 4px;
  border: 0.5px solid #f4698f;
  border-radius: 24px;
}

#descripcion-trabajo {
  color: #fff;
  background-color: #f4698f;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10vh;
}

#descripcion-trabajo img {
  width: 289px;
  height: 289px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  background-color: #fff;
}

#descripcion-trabajo h1 {
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  padding: 2rem 0;
}

#descripcion-trabajo p {
  width: 60%;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align: justify;
  padding: 2rem 0;
}

#descripcion-trabajo a {
  margin: 2rem 0;
  width: 128px;
  height: 37px;
  background: #f4698f;
  border: 1px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  font-family: "Glacial Indifference";
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#contacto {
  padding-top: 40px;
  background: linear-gradient(270.64deg, #ff9e7f -13.83%, #f4698f 18.14%, rgba(208, 240, 164, 0.8) 159.82%);
  width: 100vw;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

#contacto img {
  width: 40px;
  height: 40px;
}

#contacto p {
  font-size: 10px;
}

#contacto h3 {
  font-size: 1rem;
}

#contacto form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

#contacto form h4 {
  visibility: hidden;
}

#contacto form label {
  font-size: 10px;
}

#contacto form input {
  min-height: 24px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #00000000;
  border-radius: 16px;
  padding-left: 0.5rem;
  font-family: "Glacial Indifference", cursive;
  font-weight: normal;
}

#contacto form input:focus {
  outline: none;
  border-radius: 1rem;
  border: 1px solid #d9f3b6;
  background-color: #f4698f;
}

#contacto form textarea {
  height: 20%;
  color: #fff;
  border: 1px solid #fff;
  background-color: #00000000;
  border-radius: 16px;
  padding: 0.5rem;
  text-shadow: none;
  font-family: "Glacial Indifference", cursive;
  font-weight: normal;
  resize: none;
}

#contacto form textarea:focus {
  outline: none;
  border-radius: 1rem;
  border: 1px solid #d9f3b6;
  background-color: #f4698f;
}

#contacto form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 128px;
  height: 32px;
  margin-top: 2rem;
  color: #fff;
  background-color: #f4698f;
  padding: 8px;
  border: none;
  border-radius: 12px;
  font-size: 10px;
}

#contacto .nav-social-icon {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

#contacto .nav-social-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

#contacto .nav-social-icon ul img {
  width: 12px;
  height: 12px;
}

#contacto hr {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 50%;
  height: 4px;
  border: 0.5px solid #fff;
  border-radius: 24px;
}

#fotos div {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fotos div img {
  width: 300px;
  height: 300px;
}

#fotos .foto-medio {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #d9f3b6;
}

#fotos .foto-dyc1 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/d&c2.png");
  background-size: 100vh;
  background-repeat: no-repeat;
}

#fotos .foto-dyc1 img {
  padding: 2rem;
  background-color: #fff;
  width: 200px;
  height: 200px;
}

#fotos .foto-dyc2 {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/d&c5.png");
  background-size: 100%;
}

#fotos .foto-dyc2 img {
  width: 300px;
  height: 200px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4698f;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  -webkit-transition: 1s opacity;
  transition: 1s opacity;
  opacity: 0;
  -webkit-animation: spin 2s linear;
          animation: spin 2s linear;
}

.loading.show {
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    background-image: url("../icons/frame1.svg");
  }
  15% {
    background-image: url("../icons/frame2.svg");
  }
  30% {
    background-image: url("../icons/frame3.svg");
  }
  45% {
    background-image: url("../icons/frame4.svg");
  }
  60% {
    background-image: url("../icons/frame5.svg");
  }
  75% {
    background-image: url("../icons/frame6.svg");
  }
  100% {
    background-image: url("../icons/frame7.svg");
  }
}

@keyframes spin {
  0% {
    background-image: url("../icons/frame1.svg");
  }
  15% {
    background-image: url("../icons/frame2.svg");
  }
  30% {
    background-image: url("../icons/frame3.svg");
  }
  45% {
    background-image: url("../icons/frame4.svg");
  }
  60% {
    background-image: url("../icons/frame5.svg");
  }
  75% {
    background-image: url("../icons/frame6.svg");
  }
  100% {
    background-image: url("../icons/frame7.svg");
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 780px) {
  header nav .nav-logo img {
    width: 70px;
    height: 70px;
  }
  header nav .nav-social-icon ul img {
    width: 22px;
    height: 22px;
  }
  header nav .show {
    width: 40%;
  }
  header nav .show .br {
    height: 8px;
    margin: 2rem 0;
  }
  header nav .show .menu-logo img {
    width: 46px;
    height: 51px;
  }
  header nav .show .nav-close img {
    height: 26px;
    width: 26px;
  }
  header nav .show a {
    font-size: 30px;
    line-height: 80%;
  }
  #nosotros {
    padding-top: 20vh;
    gap: 2rem;
  }
  #nosotros img {
    width: 300px;
    height: 200px;
  }
  #nosotros h1 {
    font-size: 38px;
    line-height: 146%;
  }
  #nosotros h2 {
    font-size: 19px;
    line-height: 40px;
  }
  #nosotros p {
    font-size: 18px;
    line-height: 32px;
  }
  #nosotros .h-1,
  #nosotros .h-2 {
    font-size: 22px;
    line-height: 38px;
  }
  #nosotros hr {
    width: 280px;
    height: 8px;
  }
  #servicios {
    padding: 1rem 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
  }
  #servicios h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    font-size: 24px;
    line-height: 38px;
  }
  #servicios h3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 16px;
    line-height: 38px;
  }
  #servicios article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 275px;
    height: 265px;
  }
  #servicios article img {
    width: 33px;
    height: 27px;
  }
  #servicios article h5 {
    padding: 2rem 0;
    font-size: 14px;
    line-height: 24px;
  }
  #servicios article p {
    height: 100%;
    font-family: "Glacial Indifference";
    font-size: 12px;
    line-height: 24px;
  }
  #servicios h4 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 6 / 1 / 7 / 3;
    font-size: 20px;
    width: 100%;
  }
  #servicios hr {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 7 / 1 / 8 / 3;
    width: 265px;
    height: 8px;
  }
  #servicios a {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 8 / 1 / 9 / 3;
    width: 168px;
    font-size: 12px;
    line-height: 32px;
  }
  #trabajos h2 {
    font-size: 24px;
  }
  #trabajos h3 {
    font-size: 16px;
  }
  #trabajos .job-container {
    position: relative;
  }
  #trabajos .job-container .carousel {
    width: 20rem;
    height: 18rem;
  }
  #trabajos .job-container .carousel .job__description {
    width: 20rem;
    height: 2.5rem;
  }
  #trabajos .job-container .carousel .job__description span {
    font-size: 10px;
  }
  #trabajos .job-container .carousel .job__description button {
    width: 6.5rem;
    height: 1.5rem;
    font-size: 12px;
  }
  #trabajos .job-container .btn {
    width: 2rem;
    height: 4rem;
  }
  #trabajos .job-container .after {
    left: -70px;
  }
  #trabajos .job-container .before {
    right: -70px;
  }
  #trabajos hr {
    width: 18rem;
  }
  #descripcion-trabajo img {
    width: 400px;
    height: 400px;
  }
  #descripcion-trabajo h1 {
    font-size: 32px;
    line-height: 32px;
  }
  #descripcion-trabajo p {
    font-size: 15px;
    line-height: 32px;
  }
  #descripcion-trabajo a {
    width: 170px;
    height: 37px;
    font-size: 12px;
    line-height: 32px;
  }
  #fotos div img {
    width: 500px;
    height: 500px;
  }
  #fotos .foto-dyc1 img {
    width: 300px;
    height: 300px;
  }
  #fotos .foto-dyc2 img {
    width: 500px;
    height: 400px;
  }
}

@media only screen and (min-width: 780px) {
  header {
    width: 100%;
  }
  header nav {
    height: 15vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-logo {
    position: absolute;
    top: 20px;
    left: 40px;
  }
  header nav .nav-logo img {
    width: 90px;
    height: 90px;
  }
  header nav .nav-social-icon ul {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 60px;
    top: 30vh;
  }
  header nav .nav-social-icon ul img {
    padding: 1rem 0;
    width: 29px;
    height: 29px;
  }
  header nav .nav-menu #menu {
    display: none;
  }
  header nav .nav-menu .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 3rem;
  }
  header nav .nav-menu .nav-link .nav-close,
  header nav .nav-menu .nav-link .menu-logo {
    display: none;
  }
  header nav .nav-menu .nav-link .link {
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
  }
  header nav .nav-menu .nav-link .contacto {
    position: absolute;
    top: 5vh;
    right: 50px;
    border: 1px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 16px;
    width: 150px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .nav-menu .nav-link .contacto a {
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #fff;
  }
  #nosotros {
    padding-top: 20vh;
    gap: 2rem;
  }
  #nosotros img {
    width: 300px;
    height: 200px;
  }
  #nosotros h1 {
    font-size: 38px;
    line-height: 146%;
  }
  #nosotros h2 {
    font-size: 19px;
    line-height: 40px;
  }
  #nosotros p {
    font-size: 18px;
    line-height: 32px;
  }
  #nosotros .h-1,
  #nosotros .h-2 {
    font-size: 22px;
    line-height: 38px;
  }
  #nosotros hr {
    width: 280px;
    height: 8px;
  }
  #servicios {
    padding: 1rem 3rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 2rem;
  }
  #servicios h2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
    font-size: 24px;
    line-height: 38px;
  }
  #servicios h3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 2 / 1 / 3 / 3;
    font-size: 16px;
    line-height: 38px;
  }
  #servicios article {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 275px;
    height: 265px;
  }
  #servicios article img {
    width: 33px;
    height: 27px;
  }
  #servicios article h5 {
    padding: 2rem 0;
    font-size: 14px;
    line-height: 24px;
  }
  #servicios article p {
    height: 100%;
    font-family: "Glacial Indifference";
    font-size: 12px;
    line-height: 24px;
  }
  #servicios h4 {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 6 / 1 / 7 / 3;
    font-size: 20px;
    width: 100%;
  }
  #servicios hr {
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 7 / 1 / 8 / 3;
    width: 265px;
    height: 8px;
  }
  #servicios a {
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 8 / 1 / 9 / 3;
    width: 168px;
    font-size: 12px;
    line-height: 32px;
  }
  #trabajos h2 {
    font-size: 40px;
    line-height: 38px;
  }
  #trabajos h3 {
    font-size: 24px;
    line-height: 38px;
  }
  #trabajos .job-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #trabajos .job-container .carousel {
    border-radius: 26px;
    z-index: 1;
    width: 30vw;
    height: 50vh;
  }
  #trabajos .job-container .carousel .job-image {
    width: 100%;
    height: 100%;
  }
  #trabajos .job-container .carousel .job__description {
    width: 30vw;
    height: 4rem;
  }
  #trabajos .job-container .carousel .job__description span {
    font-size: 16px;
    line-height: 38px;
  }
  #trabajos .job-container .carousel .job__description button {
    width: 8.5rem;
    height: 2.5rem;
    font-size: 20px;
    line-height: 38px;
  }
  #trabajos .job-container .btn {
    width: 3rem;
    height: 5rem;
    position: absolute;
    z-index: 1;
  }
  #trabajos .job-container .after {
    left: -30vw;
  }
  #trabajos .job-container .before {
    right: -30vw;
  }
  #trabajos .job-container .carousel-after,
  #trabajos .job-container .carousel-before {
    border-radius: 26px;
    position: absolute;
    width: 25vw;
    height: 45vh;
    z-index: 0;
  }
  #trabajos .job-container .carousel-after .job__description,
  #trabajos .job-container .carousel-before .job__description {
    position: absolute;
    bottom: 0;
    width: 25vw;
    height: 3.5rem;
    background-color: #fff;
    border-radius: 0 0 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #trabajos .job-container .carousel-after .job__description span,
  #trabajos .job-container .carousel-before .job__description span {
    text-align: start;
    margin-left: 1rem;
    width: 100%;
    font-size: 14px;
    line-height: 38px;
  }
  #trabajos .job-container .carousel-after .job__description button,
  #trabajos .job-container .carousel-before .job__description button {
    width: 8rem;
    height: 2rem;
    font-size: 16px;
    line-height: 38px;
    margin-right: 1rem;
    border: 1px solid #f4698f;
    border-radius: 0.5rem;
    background-color: #fff;
    font-family: "Glacial Indifference", cursive;
  }
  #trabajos .job-container .carousel-after {
    left: 20vw;
  }
  #trabajos .job-container .carousel-after .after-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-transition: 1s background-image ease;
    transition: 1s background-image ease;
  }
  #trabajos .job-container .carousel-before {
    right: 20vw;
  }
  #trabajos .job-container .carousel-before .before-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    -webkit-transition: 1s background-image ease;
    transition: 1s background-image ease;
  }
  #trabajos hr {
    width: 25rem;
  }
  #contacto {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  #contacto .c1r1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  #contacto .c1r2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  #contacto .c1r3 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  #contacto .c1r4 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  #contacto .c1r5 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5 / 1 / 6 / 2;
  }
  #contacto .c2r1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 7 / 3;
  }
  #contacto form {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    color: #000;
  }
  #contacto form h4 {
    font-size: 40px;
    line-height: 38px;
    visibility: visible;
    padding-bottom: 1rem;
  }
  #contacto form label {
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding-left: 15%;
    font-size: 20px;
    line-height: 41px;
    padding-top: 0.5rem;
  }
  #contacto form input {
    color: #000;
    width: 70%;
    font-size: 20px;
    line-height: 2rem;
    border: 1px solid #f4698f;
    padding-left: 1rem;
  }
  #contacto form input:focus {
    border: 2px solid #f4698f;
    background-color: #fff;
  }
  #contacto form textarea {
    color: #000;
    width: 70%;
    border: 1px solid #f4698f;
    font-size: 20px;
    line-height: 1rem;
  }
  #contacto form textarea:focus {
    border: 2px solid #f4698f;
    background-color: #fff;
  }
  #contacto form button {
    width: 16rem;
    height: 3rem;
    border-radius: 24px;
    font-size: 16px;
  }
  #contacto p {
    font-size: 30px;
  }
  #contacto img {
    width: 90px;
    height: 90px;
  }
  #contacto h3 {
    font-size: 35px;
  }
  #contacto .nav-social-icon p {
    font-size: 22px;
  }
  #contacto .nav-social-icon ul {
    gap: 32px;
  }
  #contacto .nav-social-icon ul img {
    width: 29px;
    height: 29px;
  }
  #descripcion-trabajo img {
    width: 400px;
    height: 400px;
  }
  #descripcion-trabajo h1 {
    font-size: 32px;
    line-height: 32px;
  }
  #descripcion-trabajo p {
    font-size: 15px;
    line-height: 32px;
  }
  #descripcion-trabajo a {
    width: 170px;
    height: 37px;
    font-size: 12px;
    line-height: 32px;
  }
  #fotos div img {
    width: 500px;
    height: 500px;
  }
  #fotos .foto-dyc1 img {
    width: 300px;
    height: 300px;
  }
  #fotos .foto-dyc2 img {
    width: 500px;
    height: 400px;
  }
}
/*# sourceMappingURL=style.css.map */