@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Regular.otf"),
    url("../fonts/GlacialIndifference-Bold.otf"),
    url("../fonts/GlacialIndifference-Italic.otf");
}

$primary-color: #f4698f;
$secondary-color: #d9f3b6;
$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Glacial Indifference", cursive;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: 100%;
  /* Tamaño del scroll */
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Estilos barra (thumb) de scroll */
  &::-webkit-scrollbar-thumb {
    background: #d9f3b679;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: $secondary-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $secondary-color;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Estilos track de scroll */
  &::-webkit-scrollbar-track {
    background: rgb(173, 173, 173);
  }

  &::-webkit-scrollbar-track:hover,
  &::-webkit-scrollbar-track:active {
    background: rgb(148, 148, 148);
  }
}

.header {
  width: 100vw;
  height: 15vh;
  position: absolute;

  .nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .link__img {
      width: 3em;
      height: 3em;
    }

    .social {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 1.5em;

      .link__img {
        width: 1em;
        height: 1em;
      }
    }
    .menu {
      .list {
        display: none;
        &--show {
          display: block;
          position: absolute;
          width: 60vw;
          height: 100vh;
          top: 0;
          right: 0;
          bottom: 0;
          background-color: $white;
          color: $primary-color;
          border-radius: 47px 0px 0px 47px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding-left: 3em;
          padding-right: 2em;
          padding-top: 1em;
          .bar {
            margin-top: 1em;
            margin-bottom: 1em;
            width: 100%;
            height: 3px;
            border: 0.5px solid #f4698f;
            box-sizing: border-box;
            border-radius: 24px;
          }

          .logo__img {
            width: 2em;
            height: 2em;
          }
          .close {
            position: absolute;
            top: 1.2em;
            right: 2.5em;
            &__img {
              height: 1em;
              width: 1em;
            }
          }
          .option__link,
          .contacto-btn__link {
            font-family: "Glacial Indifference";
            font-size: 1.2em;
            text-decoration: none;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.nosotros {
  color: $white;
  background-color: $primary-color;
  background-image: url("../images/bg-gradiente.png");
  background-size: 100% 100%;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding-top: 20vh;
  &__img {
    width: 4em;
    height: 4em;
  }
  &__title {
    width: 50%;
    font-family: "Abril Fatface";
    font-weight: 600;
    font-size: 2em;
    text-align: center;
  }
  &__subtitle {
    font-weight: normal;
    font-size: 0.7em;
  }
  &__body {
    width: 85%;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
    padding: 1rem 0;
  }
  &__footer {
    font-size: 1em;
    font-weight: normal;
    &--top {
      text-align: center;
      width: 100px;
      align-self: flex-end;
      span{
        font-family: cursive;
      }
    }
    &--bottom {
      width: 90%;
      text-align: center;
    }
  }

  &__bar {
    width: 140px;
    height: 3px;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
    border-radius: 24px;
    margin: 1rem 0 3rem 0;
  }
}

.servicios {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  &__title {
    padding-top: 2rem;
    font-size: 18px;
    line-height: 38px;
  }
  &__subtitle {
    font-size: 14px;
    line-height: 38px;
    padding-bottom: 2rem;
  }
  .container {
    .card {
      margin: 1rem 0;
      width: 180px;
      height: 160px;
      padding: 1rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__img {
        width: 16px;
        height: 13px;
      }
      &__title {
        padding: 0.5rem 0;
        font-family: "Abril Fatface";
        font-style: normal;
        font-weight: 900;
        width: 100%;
        font-size: 10px;
        line-height: 24px;
        text-align: center;
        color: $primary-color;
      }
      &__body {
        height: 83px;
        font-family: "Glacial Indifference";
        font-size: 8px;
        line-height: 200%;
        text-align: justify;
        color: $black;
      }
    }
  }

  &__footer {
    padding-top: 2rem;
    font-size: 16px;
    line-height: 32px;
    width: 80%;
  }
  &__bar {
    margin: 1rem 0;
    width: 182px;
    height: 4px;
    border: 0.5px solid #f4698f;
    box-sizing: border-box;
    border-radius: 24px;
  }
  &__btn {
    font-family: "Glacial Indifference";
    width: 128px;
    height: 32px;
    background: $primary-color;
    border-radius: 12px;
    font-size: 10px;
    line-height: 12px;
    border: none;
    color: $white;
    margin: 2rem 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.trabajos {
  width: 100vw;
  height: 90vh;
  background-color: $secondary-color;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  .header-job {
    &__title {
      font-size: 20px;
      line-height: 38px;
      font-weight: normal;
    }

    &__subtitle {
      font-size: 14px;
      font-weight: normal;
      line-height: 38px;
    }
  }

  .container-job {
    position: relative;
    .carousel {
      width: 16em;
      height: 15em;
      display: flex;
      overflow-x: auto;
      position: relative;
      border-radius: 1rem;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      &__img {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: 1s background-image ease;
      }
      .description {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2em;
        background-color: $white;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__title {
          text-align: start;
          margin-left: 1rem;
          width: 100%;
          font-size: 0.5rem;
        }
        &__btn {
          margin-right: 1rem;
          width: 6rem;
          height: 1rem;
          border: 1px solid $primary-color;
          border-radius: 0.5rem;
          background-color: $white;
          font-family: "Glacial Indifference", cursive;
          font-size: 10px;

          &:active, &:focus{
            color: $black;
          }
        }
      }
    }
    &__btn {
      position: absolute;
      top: 40%;
      &--after {
        left: -40px;
      }
      &--before {
        right: -40px;
      }
    }
  }

  &__bar {
    width: 12rem;
    height: 4px;
    border: 0.5px solid $primary-color;
    border-radius: 24px;
  }
}

.contacto {
  padding-top: 40px;
  background: linear-gradient(
    270.64deg,
    #ff9e7f -13.83%,
    #f4698f 18.14%,
    rgba(208, 240, 164, 0.8) 159.82%
  );
  width: 100vw;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  font-weight: 400;
  .container-contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    &__title {
      font-size: 10px;
      font-weight: normal;
    }
    &__img {
      width: 40px;
      height: 40px;
    }

    &__subtitle {
      font-size: 1rem;
      font-weight: normal;
    }
  }
  .form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    &__title {
      visibility: hidden;
    }
    &__label {
      font-size: 10px;
      font-weight: normal;
    }
    &__input {
      min-height: 24px;
      color: $white;
      border: 1px solid $white;
      background-color: #00000000;
      border-radius: 16px;
      padding-left: 0.5rem;
      font-family: "Glacial Indifference", cursive;
      font-weight: normal;
      &:focus {
        outline: none;
        border-radius: 1rem;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
      }
    }
    &__textarea {
      min-height: 100px;
      height: 20%;
      color: $white;
      border: 1px solid $white;
      background-color: #00000000;
      border-radius: 1em;
      padding: 0.5rem;
      text-shadow: none;
      font-family: "Glacial Indifference", cursive;
      font-weight: normal;
      resize: none;

      &:focus {
        outline: none;
        border-radius: 1em;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
      }
      &::placeholder{
        color:rgba(255, 255, 255, 0.849);
      }
    }

    &__btn {
      align-self: center;
      width: 128px;
      height: 32px;
      margin-top: 2rem;
      color: $white;
      background-color: $primary-color;
      padding: 8px;
      border: none;
      border-radius: 12px;
      font-size: 10px;
    }
  }
  .social {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &__title {
      font-weight: normal;
      font-size: 0.5em;
    }
    .container-social {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
      .link__img {
        width: 12px;
        height: 12px;
      }
    }
  }
  &__bar {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
    height: 4px;
    border: 0.5px solid $white;
    border-radius: 24px;
  }

  #myModal {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 20px;
    width: 100%;
    overflow: auto;
    color: $black;

    .modal-content {
      border: 1px solid $secondary-color;
      font-size: 15px;
      background-color: #fefefe;
      border-top: 3px solid $secondary-color;
      width: 150px;
      p {
        margin: 0.2em;
      }
    }
  }
}

.job-description {
  .job {
    color: $white;
    background-color: $primary-color;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10vh;
    &-container {
      align-self: start;
      background-color: $white;
      width: 90vw;
      height: 300px;
      &-diseno{
        &__img{
          width: 50%;
          height: 50%;
        }
      }
      &__img {
        width: 100%;
        height: 100%;
      }
    }
    &__title {
      font-family: "Abril Fatface";
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      padding: 2rem 0;
    }
    &__body {
      width: 60%;
      font-weight: normal;
      font-size: 10px;
      line-height: 16px;
      text-align: justify;
      padding: 2rem 0;
    }
    &__btn {
      margin: 2rem 0;
      width: 128px;
      height: 37px;
      background: #f4698f;
      border: 1px solid $white;
      box-sizing: border-box;
      border-radius: 12px;
      font-family: "Glacial Indifference";
      font-size: 10px;
      line-height: 12px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
    }
  }

  .picture {
    width: 100vw;
    height: 100%;
    .container-picture {
      display: flex;
      width: 100vw;
      height: 100vh;
      &__img {
        width: 300px;
        height: 300px;
      }
    }
    .container-picture--one {
      justify-content: flex-end;
      align-items: center;
    }
    .container-picture--two {
      justify-content: flex-start;
      align-items: flex-start;
      background-color: $secondary-color;
    }
    .container-picture--three {
      justify-content: flex-end;
      align-items: center;
    }
    .container-picture--four {
      justify-content: flex-end;
      align-items: center;
      background-image: url("../images/d&c2.png");
      background-size: cover;
      .container-picture__img {
        background-color: $white;
        padding: 1em;
      }
    }
    .container-picture--five {
      justify-content: center;
      align-items: center;
      background-image: url("../images/d&c5.png");
      background-size: cover;
    }
    .container-picture--six {
      justify-content: flex-end;
      align-items: center;
      background-color: $secondary-color;
    }
  }
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  z-index: 2;
  transition: 1s opacity;
  opacity: 0;
  animation: spin 2s linear;
  &.show {
    opacity: 1;
  }
  @keyframes spin {
    0% {
      background-image: url("../icons/frame1.svg");
    }
    30% {
      background-image: url("../icons/frame2.svg");
    }
    50% {
      background-image: url("../icons/frame3.svg");
    }
    100% {
      background-image: url("../icons/frame4.svg");
    }
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 570px) and (max-width: 780px) {
  html {
    font-size: 1.2em;
  }
  .header {
    .nav {
      .logo {
        .link__img {
          width: 3em;
          height: 3em;
        }
      }
      .social {
        .link__img {
          width: 1em;
          height: 1em;
        }
      }
      .menu {
        .list {
          width: 40%;
          .bar {
            height: 8px;
          }

          .logo {
            &__img {
              width: 46px;
              height: 51px;
            }
          }
          .close {
            &__img {
              height: 26px;
              width: 26px;
            }
          }

          .option__link {
            font-size: 30px;
            line-height: 80%;
          }
        }
      }
    }
  }

  .nosotros {
    padding-top: 20vh;
    gap: 2rem;
    &__img {
      width: 200px;
      height: 100px;
    }
    &__title {
      font-size: 38px;
      line-height: 146%;
    }
    &__subtitle {
      font-size: 19px;
      line-height: 40px;
    }
    &__body {
      font-size: 18px;
      line-height: 32px;
    }
    &__footer {
      width: 80%;
      font-size: 22px;
      line-height: 38px;
      &--top {
        align-self: center;
        text-align: end;
      }
      &--bottom {
        font-weight: normal;
        text-align: center;
      }
    }

    &__bar {
      width: 280px;
      height: 8px;
    }
  }

  .servicios {
    display: flex;
    justify-items: center;
    grid-column-gap: 2rem;
    &__title {
      font-size: 24px;
      line-height: 38px;
    }
    &__subtitle {
      font-size: 16px;
      line-height: 38px;
    }

    .container {
      width: 100vw;
      height: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      .card {
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        min-height: 300px;
        width: 35%;
        &__img {
          width: 33px;
          height: 27px;
        }
        &__title {
          padding: 2rem 0;
          font-size: 14px;
          line-height: 24px;
        }
        &__body {
          height: 100%;
          font-family: "Glacial Indifference";
          font-size: 12px;
          line-height: 24px;
        }
      }
    }

    &__footer {
      font-size: 20px;
      width: 100%;
    }
    &__bar {
      width: 265px;
      height: 8px;
    }
    &__btn {
      width: 168px;
      font-size: 12px;
      line-height: 32px;
    }
  }

  .trabajos {
    .header-job {
      &__title {
        font-size: 24px;
      }

      &__subtitle {
        font-size: 16px;
      }
    }

    .container-job {
      position: relative;

      .carousel {
        width: 20rem;
        height: 18rem;

        .description {
          width: 20rem;
          height: 2.5rem;

          &__title {
            font-size: 10px;
          }
          &__btn {
            width: 6.5rem;
            height: 1.5rem;

            font-size: 12px;
          }
        }
      }
      .container-job__btn {
        width: 2rem;
        height: 4rem;
      }

      .container-job__btn--after {
        left: -70px;
      }
      .container-job__btn--before {
        right: -70px;
      }
    }
    &__bar {
      width: 18rem;
    }
  }

  .job-description {
    .job {
      .container {
        &__img {
          width: 400px;
          height: 400px;
        }
      }
      &__title {
        font-size: 32px;
        line-height: 32px;
      }
      &__body {
        font-size: 15px;
        line-height: 32px;
      }
      &__btn {
        width: 170px;
        height: 37px;

        font-size: 12px;
        line-height: 32px;
      }
    }
    .picture {
      .container {
        width: 100vw;
        height: 100vh;

        &__img {
          width: 500px;
          height: 500px;
        }
      }
    }
  }
}

@media only screen and (min-width: 780px) {
  html {
    font-size: 200%;
  }
  .header {
    .nav {
      justify-content: space-around;
      gap: 0;
      .logo {
        .link__img {
          width: 100%;
          height: 100%;
        }
      }
      .social {
        position: absolute;
        flex-direction: column;
        right: 2em;
        top: 30vh;
        .link__img {
          width: 29px;
          height: 29px;
          &--hidden {
            visibility: hidden;
          }
        }
      }

      .menu {
        .menu__icon {
          display: none;
        }
        .list {
          display: flex;
          gap: 2rem;
          .close,
          .logo {
            display: none;
          }
          .option {
            width: 100%;
            &__link {
              font-size: 20px;
              line-height: 26px;
              color: $white;
              text-decoration: none;
            }
            &:hover {
              border-bottom: 2px solid $white;
            }
          }

          .contacto-btn {
            border: 1px solid #ffffff;
            border-radius: 16px;
            height: 45px;
            padding: 0 0.3em;
            &:hover {
              background-color: $primary-color;
            }

            &__link {
              font-size: 0.7em;
              color: $white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .nosotros {
    height: 90vh;
    padding-top: 25vh;
    display: grid;
    grid-template-columns: 10% 30% 40% 1fr;
    gap: 0;
    justify-items: center;
    text-align: center;
    &__img {
      grid-area: 1 / 2 / 2 / 3;
      width: 20%;
      height: 80%;
    }
    &__title {
      width: 100%;
      grid-area: 2 / 2 / 3 / 3;
      font-size: 200%;
      line-height: 136%;
    }
    &__subtitle {
      grid-area: 3 / 2 / 4 / 3;
      font-size: 50%;
      line-height: 38px;
      
    }
    &__body {
      width: 90%;
      padding: 0;
      font-size: 50%;
      line-height: 200%;
      &--top {
        grid-area: 1 / 3 / 2 / 4;
      }
      &--bottom {
        grid-area: 2 / 3 / 4 / 4;
      }
    }
    &__footer {
      font-weight: normal;
      font-size: 60%;
      &--top {
        grid-area: 4 / 3 / 5 / 4;
        padding: 1em 0;
        justify-self: end;
      }
      &--bottom {
        font-size: 70%;

        font-weight: normal;
        grid-area: 5 / 2 / 6 / 4;
      }
    }

    &__bar {
      grid-area: 6 / 2 / 7 / 4;
      width: 40%;
      height: 6px;
    }
  }

  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
      font-weight: normal;
      font-size: 40px;
      line-height: 38px;
    }
    &__subtitle {
      font-weight: normal;

      font-size: 26px;
      line-height: 38px;
    }

    .container {
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 1em;
      .card {
        justify-content: flex-start;
        width: 25%;
        min-height: 400px;
        height: 100%;
        &__img {
          width: 1em;
          height: 35px;
        }
        &__title {
          width: 100%;
          padding: 1rem 0;
          font-size: 0.5em;
          line-height: 55px;
        }
        &__body {
          height: 100%;
          font-size: 0.5em;
          line-height: 40px;
        }
      }
    }

    &__footer {
      font-size: 25px;
      line-height: 55px;
    }
    &__bar {
      display: none;
    }
    a {
      grid-area: 7 / 1 / 8 / 4;
      width: 356px;
      height: 72px;
      font-size: 22px;
      line-height: 26px;
    }
  }

  .trabajos {
    height: 100vh;

    .header-job {
      &__title {
        font-size: 40px;
        line-height: 38px;
      }

      &__subtitle {
        font-size: 24px;
        line-height: 38px;
      }
    }

    .container-job {
      position: relative;
      display: flex;
      align-items: center;
      .carousel {
        z-index: 1;
        width: 30vw;
        height: 60vh;

        .description {
          width: 30vw;
          height: 50px;

          &__title {
            font-size: 16px;
            line-height: 38px;
          }
          &__btn {
            border-radius: 10px;

            width: 150px;
            height: 70%;
            font-size: 20px;
          }
        }

        &--after,
        &--before {
          position: absolute;
          width: 25vw;
          height: 55vh;
          z-index: 0;
          &__img {
            width: 100%;
            height: 100%;
          }
          .description-back {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            &__title {
              margin-left: 1em;
              text-align: start;
              width: 100%;
              font-size: 12px;
            }
            &__btn {
              border-radius: 10px;
              margin-right: 1em;
              width: 150px;
              height: 70%;
              font-size: 18px;
              line-height: 38px;
              border: 1px solid $primary-color;
              background-color: $white;
              font-family: "Glacial Indifference", cursive;
            }
          }
        }

        &--after {
          left: 20vw;
          &--image {
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: 1s background-image ease;
          }
        }

        &--before {
          right: 20vw;
          &--image {
            width: 100%;
            height: 100%;
            background-size: cover;
            transition: 1s background-image ease;
          }
        }
      }
      &__btn {
        width: 1em;
        height: 100px;
        position: absolute;
        z-index: 1;

        &--after {
          left: -30vw;
        }
        &--before {
          right: -30vw;
        }
      }
    }
    &__bar {
      width: 10em;
    }
  }

  .contacto {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100%;
    background-color: $white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    .container-contacto {
      grid-area: 1/1/2/2;
      &__title {
        font-size: 0.7em;
      }
      &__img {
        width: 2em;
        height: 2em;
      }
      &__subtitle {
        font-size: 0.7em;
        &--bottom {
          font-size: 1em;
        }
      }
    }
    .form {
      grid-area: 1/2/4/3;
      background-color: $white;
      width: 50vw;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5em;
      color: $black;

      &__title {
        font-size: 30px;
        line-height: 38px;
        visibility: visible;
        padding: 1em 0;
      }

      &__label {
        align-self: center;
        font-size: 20px;
        width: 70%;
      }
      &__input {
        color: $black;
        width: 70%;
        font-size: 20px;
        line-height: 1rem;
        border: 1px solid $primary-color;
        &:focus {
          border: 2px solid $primary-color;
          background-color: $white;
        }
      }
      &__textarea {
        color: $black;
        width: 70%;
        border: 1px solid $primary-color;
        font-size: 20px;
        line-height: 1rem;
        &:focus {
          border: 2px solid $primary-color;
          background-color: $white;
        }
        &::placeholder{
          color:rgb(84, 84, 84);
        }
      }
      &__btn {
        margin-bottom: 2em;
        width: 12em;
        height: 3em;
        border-radius: 24px;
        font-size: 16px;
      }
    }

    .social {
      grid-area: 3/1/4/2;

      &__title {
        font-size: 22px;
      }
      .container-social {
        gap: 32px;
        .link__img {
          width: 29px;
          height: 29px;
        }
      }
    }
    &__bar {
      grid-area: 2/1/3/2;
    }
  }

  .job-description {
    .job {
      background-color: $primary-color;
      padding-top: 15vh;
      display: grid;
      grid-template-columns: 40% 60%;
      place-items: center center;
      .job-container {
        grid-area: 1 / 1 / 4 / 2;
        align-self: end;
        display: grid;
        background-color: white;
        width: 100%;
        height: 100%;
      }
      &__title {
        grid-area: 1 / 2 / 2 / 3;
        background-color: $primary-color;
        background-image: none;
        width: 100%;
        font-size: 27px;
        line-height: 36px;
        padding: 0;
      }
      &__body {
        padding: 0;
        width: 50%;
        grid-area: 2 / 2 / 3 / 3;
        font-size: 20px;
        line-height: 32px;
      }
      &__btn {
        margin: 0;
        grid-area: 3 / 2 / 4 / 3;
        width: 300px;
        height: 70px;
        font-size: 22px;
        line-height: 26px;
      }
    }
    .picture {
      .container-picture {
        width: 100vw;
        height: 100vh;
        &--one {
          .container-picture__img {
            width: 60vw;
            height: 100%;
          }
        }
        &--two {
          .container-picture__img {
            width: 40vw;
            height: 100%;
          }
        }
        &--three {
          .container-picture__img {
            width: 60vw;
            height: 100%;
          }
        }
        &--four {
          background-size: 40vw 100vh;
          background-repeat: no-repeat;
          .container-picture__img {
            margin-right: 15vw;
            background-color: $white;
            width: 30vw;
            height: 50%;
          }
        }
        &--five {
          background-size: 60vw 100vh;
          background-repeat: no-repeat;
          background-position: 40vw;
          .container-picture__img {
            justify-content: flex-end;
            margin-left: 45vw;
            width: 60vw;
            height: 100%;
          }
        }
        &--six {
          width: 40vw;
          .container-picture__img {
            width: 30vw;
            height: 50%;
          }
        }
      }
    }
  }
}
