@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
  font-family: "Glacial Indifference";
  src: url("../fonts/GlacialIndifference-Regular.otf"),
    url("../fonts/GlacialIndifference-Bold.otf"),
    url("../fonts/GlacialIndifference-Italic.otf");
}

$primary-color: #f4698f;
$secondary-color: #d9f3b6;
$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-family: "Glacial Indifference", cursive;
}

p,
h1,
h2,
h3,
h4 {
  font-weight: normal;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vh;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    .nav-logo {
      img {
        width: 48px;
        height: 48px;
      }
    }
    .nav-social-icon ul {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 1rem;

      img {
        width: 11px;
        height: 11px;
      }
    }

    .nav-link {
      display: none;
    }
    .show {
      display: block;
      position: absolute;
      width: 60vw;
      height: 100vh;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $white;
      color: $primary-color;
      border-radius: 47px 0px 0px 47px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 3rem;
      padding-right: 2rem;
      padding-top: 1rem;
      .br {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 100%;
        height: 3px;
        border: 0.5px solid #f4698f;
        box-sizing: border-box;
        border-radius: 24px;
      }

      .menu-logo {
        width: 21px;
        height: 23px;
      }
      .nav-close {
        position: absolute;
        top: 1.2rem;
        right: 2.5rem;
        height: 13px;
        width: 13px;
      }

      a {
        font-family: "Glacial Indifference";
        font-size: 18px;
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
}

#nosotros {
  color: $white;
  background-color: $primary-color;
  background-image: url("../images/bg-gradiente.png");
  background-size: 100%;
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  img {
    width: 64px;
    height: 71px;
  }
  h1 {
    width: 50%;
    font-family: "Abril Fatface";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 146%;
    text-align: center;
  }
  h2 {
    font-size: 9px;
    line-height: 40px;
    text-align: justify;
  }
  p {
    width: 85%;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: justify;
    padding: 1rem 0;
  }
  .h-1,
  .h-2 {
    width: 100%;
    font-size: 15px;
    line-height: 38px;
  }
  .h-1 {
    text-align: center;
    width: 100px;
    align-self: flex-end;
  }
  .h-2 {
    text-align: center;
  }
  hr {
    width: 140px;
    height: 3px;
    border: 0.5px solid #ffffff;
    box-sizing: border-box;
    border-radius: 24px;
    margin: 1rem 0 3rem 0;
  }
}

#servicios {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  h2 {
    padding-top: 2rem;
    font-size: 18px;
    line-height: 38px;
  }
  h3 {
    font-size: 14px;
    line-height: 38px;
    padding-bottom: 2rem;
  }

  article {
    margin: 1rem 0;
    width: 200px;
    height: 176px;
    padding: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img {
      width: 16px;
      height: 13px;
      border: 1px solid red;
    }
    h4 {
      font-family: "Abril Fatface";
      font-style: normal;
      font-weight: 900;
      font-size: 11px;
      line-height: 24px;
      text-align: center;
      color: $primary-color;
    }
    p {
      font-family: "Glacial Indifference";
      font-size: 10px;
      line-height: 200%;
      text-align: justify;
      color: $black;
    }
  }
  h4 {
    padding-top: 2rem;
    font-size: 16px;
    line-height: 32px;
    width: 70%;
  }
  hr {
    margin: 1rem 0;
    width:182px ;
    height: 4px;
    border: 0.5px solid #f4698f;
    box-sizing: border-box;
    border-radius: 24px;
  }
  button {
    font-family: "Glacial Indifference";
    width: 128px;
    height: 32px;
    background: $primary-color;
    border-radius: 12px;
    font-size: 10px;
    line-height: 12px;
    border: none;
    color: $white;
    margin: 2rem 0;
  }
}

#trabajos {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: $secondary-color;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 18px;
    line-height: 38px;
    font-weight: normal;
  }

  h3 {
    font-size: 12px;
    font-weight: normal;

    line-height: 38px;
  }

  .job-container {
    position: relative;

    .carousel {
      width: 14rem;
      height: 12rem;
      display: flex;
      overflow-x: auto;
      position: relative;
      border-radius: 1rem;
      background-color: $white;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      .job-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        transition: 1s background-image ease;
      }
      .job__description {
        position: absolute;
        bottom: 0;
        width: 14rem;
        height: 2rem;
        background-color: $white;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          text-align: start;
          margin-left: 1rem;
          width: 100%;
          font-size: 0.5rem;
        }
        button {
          margin-right: 1rem;
          width: 6rem;
          height: 1rem;
          border: 1px solid $primary-color;
          border-radius: 0.5rem;
          background-color: $white;
          font-family: "Glacial Indifference", cursive;
          font-size: 10px;
        }
      }
    }
    .btn {
      position: absolute;
      top: 40%;
    }
    .after {
      left: -40px;
    }
    .before {
      right: -40px;
    }
  }
  hr {
    width: 12rem;
    height: 4px;
    border: 0.5px solid $primary-color;
    border-radius: 24px;
  }
}

#contacto {
  padding-top: 40px;
  background: linear-gradient(
    270.64deg,
    #ff9e7f -13.83%,
    #f4698f 18.14%,
    rgba(208, 240, 164, 0.8) 159.82%
  );

  width: 100vw;
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-weight: 400;
  img {
    width: 40px;
    height: 40px;
  }

  p {
    font-size: 10px;
  }
  h3 {
    font-size: 1rem;
  }

  form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    h4 {
      visibility: hidden;
    }
    label {
      font-size: 10px;
    }
    input {
      min-height: 24px;
      color: $white;
      border: 1px solid $white;
      background-color: #00000000;
      border-radius: 16px;
      padding-left: 0.5rem;
      font-family: "Glacial Indifference", cursive;
      font-weight: normal;
      &:focus {
        outline: none;
        border-radius: 1rem;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
      }
    }
    textarea {
      height: 20%;
      color: $white;
      border: 1px solid $white;
      background-color: #00000000;
      border-radius: 16px;
      padding: 0.5rem;
      text-shadow: none;
      font-family: "Glacial Indifference", cursive;
      font-weight: normal;
      resize: none;

      &:focus {
        outline: none;
        border-radius: 1rem;
        border: 1px solid $secondary-color;
        background-color: $primary-color;
      }
    }

    button {
      align-self: center;
      width: 128px;
      height: 32px;
      margin-top: 2rem;
      color: $white;
      background-color: $primary-color;
      padding: 8px;
      border: none;
      border-radius: 12px;
      font-size: 10px;
    }
  }
  .nav-social-icon {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  hr {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 50%;
    height: 4px;
    border: 0.5px solid $white;
    border-radius: 24px;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: 1s opacity;
  opacity: 0;
  animation: spin 2s linear;
}
.loading.show {
  opacity: 1;
}

@keyframes spin {
  0% {
    background-image: url("../icons/frame1.svg");
  }
  15% {
    background-image: url("../icons/frame2.svg");
  }
  30% {
    background-image: url("../icons/frame3.svg");
  }
  45% {
    background-image: url("../icons/frame4.svg");
  }
  60% {
    background-image: url("../icons/frame5.svg");
  }
  75% {
    background-image: url("../icons/frame6.svg");
  }
  100% {
    background-image: url("../icons/frame7.svg");
  }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 780px) {
  #trabajos {
    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 16px;
    }

    .job-container {
      position: relative;

      .carousel {
        width: 20rem;
        height: 18rem;

        .job__description {
          width: 20rem;
          height: 2.5rem;

          span {
            font-size: 10px;
          }
          button {
            width: 6.5rem;
            height: 1.5rem;

            font-size: 12px;
          }
        }
      }
      .btn {
        width: 2rem;
        height: 4rem;
      }

      .after {
        left: -70px;
      }
      .before {
        right: -70px;
      }
    }
    hr {
      width: 18rem;
    }
  }
}

@media only screen and (min-width: 780px) {
  #trabajos {
    h2 {
      font-size: 40px;
      line-height: 38px;
    }

    h3 {
      font-size: 24px;
      line-height: 38px;
    }

    .job-container {
      position: relative;
      display: flex;
      align-items: center;
      .carousel {
        border-radius: 26px;
        z-index: 1;
        width: 30vw;
        height: 50vh;
        .job-image {
          width: 100%;
          height: 100%;
        }
        .job__description {
          width: 30vw;
          height: 4rem;

          span {
            font-size: 16px;
            line-height: 38px;
          }
          button {
            width: 8.5rem;
            height: 2.5rem;
            font-size: 20px;
            line-height: 38px;
          }
        }
      }

      .btn {
        width: 3rem;
        height: 5rem;
        position: absolute;
        z-index: 1;
      }

      .after {
        left: -30vw;
      }
      .before {
        right: -30vw;
      }

      .carousel-after,
      .carousel-before {
        border-radius: 26px;
        position: absolute;
        width: 25vw;
        height: 45vh;
        z-index: 0;

        .job__description {
          position: absolute;
          bottom: 0;
          width: 25vw;
          height: 3.5rem;
          background-color: $white;
          border-radius: 0 0 1rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            text-align: start;
            margin-left: 1rem;
            width: 100%;
            font-size: 14px;
            line-height: 38px;
          }
          button {
            width: 8rem;
            height: 2rem;
            font-size: 16px;
            line-height: 38px;
            margin-right: 1rem;
            border: 1px solid $primary-color;
            border-radius: 0.5rem;
            background-color: $white;
            font-family: "Glacial Indifference", cursive;
          }
        }
      }

      .carousel-after {
        left: 20vw;
        .after-image {
          width: 100%;
          height: 100%;
          background-size: cover;
          transition: 1s background-image ease;
        }
      }

      .carousel-before {
        right: 20vw;
        .before-image {
          width: 100%;
          height: 100%;
          background-size: cover;
          transition: 1s background-image ease;
        }
      }
    }
    hr {
      width: 25rem;
    }
  }

  #contacto {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .c1r1 {
      grid-area: 1 / 1 / 2 / 2;
    }
    .c1r2 {
      grid-area: 2 / 1 / 3 / 2;
    }
    .c1r3 {
      grid-area: 3 / 1 / 4 / 2;
    }
    .c1r4 {
      grid-area: 4 / 1 / 5 / 2;
      align-self: start;
    }
    .c1r5 {
      grid-area: 5 / 1 / 6 / 2;
    }
    .c2r1 {
      grid-area: 1 / 2 / 7 / 3;
    }

    form {
      background-color: $white;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      color: $black;

      h4 {
        font-size: 40px;
        line-height: 38px;
        visibility: visible;
        padding-bottom: 1rem;
      }

      label {
        align-self: flex-start;
        padding-left: 15%;
        font-size: 20px;
        line-height: 41px;
        padding-top: 0.5rem;
      }
      input {
        color: $black;
        width: 70%;
        font-size: 20px;
        line-height: 2rem;
        border: 1px solid $primary-color;
        padding-left: 1rem;

        &:focus {
          border: 2px solid $primary-color;
          background-color: $white;
        }
      }
      textarea {
        color: $black;
        width: 70%;
        border: 1px solid $primary-color;
        font-size: 20px;
        line-height: 1rem;
        &:focus {
          border: 2px solid $primary-color;
          background-color: $white;
        }
      }
      button {
        width: 16rem;
        height: 3rem;
        border-radius: 24px;
        font-size: 16px;
      }
    }
    p {
      font-size: 30px;
    }
    img {
      width: 90px;
      height: 90px;
    }
    h3 {
      font-size: 35px;
    }

    .nav-social-icon {
      p {
        font-size: 22px;
      }
      ul {
        gap: 32px;

        img {
          width: 29px;
          height: 29px;
        }
      }
    }
  }
}
